.imagenInicio {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%; /* Adjusted for consistent spacing */
}

.imagenSuperior {
    height: 35vh;
    width: 100%;
    margin-top: 5%;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 9px 5px 0px rgba(162, 162, 162, 0.58);
    margin-bottom: 5%; /* Adjusted for consistent spacing */
}

.cuadritoTexto {
    width: 30%;
    position: relative;
    height: 35vh;
    background-color: #ffffff;
    border-radius: 18px;
    opacity: 0.8; /* Increased opacity for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
}

.primerTexto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Changed to flex-start for better alignment */
    margin-bottom: 5%; /* Adjusted for consistent spacing */
}

.textoInicio {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    text-align: left;
}

.quienesSomos {
    color: #71277a;
    font-size: 2em; /* Increased font size for prominence */
}

.misionVision {
    display: flex;
    justify-content: space-around;
}

.parrafoVisionMision {
    width: 36%;
    text-align: left;
    border-radius: 12px;
    padding: 17px;
    box-shadow: 3px 5px 15px 5px #797979;
}

.tituloInicioPaginaMV {
    text-align: center;
    color: #71277a;
    font-size: 2em; /* Increased font size for prominence */
}

.imagenVision, .imagenMision {
    width: 40%; /* Adjusted for better responsiveness */
    height: auto; /* Set to auto for better aspect ratio */
    display: flex;
    margin: 0 auto 2%; /* Centered with margin */
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .imagenSuperior {
        height: 16vh;
        width: 90%;
    }
    .cuadritoTexto {
        height: 16vh;
        width: 27%;
        font-size: 20px;
    }
    .parrafoInicio {
        height: auto; /* Adjusted for better responsiveness */
        margin-top: 30%;
        font-size: 13px;
    }
    .misionVision {
        display: grid;
    }
    .parrafoVisionMision {
        width: 75%;
        margin-left: 9%;
        height: auto; /* Adjusted for better responsiveness */
        font-size: 10px;
    }
    .tituloInicioPaginaMV {
        font-size: 25px;
    }
}