


.tituloCrudSemillas{
    border-bottom: 0.5px solid;
    width: 170px;
}

.botonNuevaSemillaAdmin{
    background: #a5a0a082;
    position: relative;
    right: 20%;
    bottom: 25px;
}

.buscarSemillasAdmin {
    background: #D9D9D9;
    width: 190px;
    height: 40px;
    border-radius: 7px;
    position: relative;
    bottom: 0px;
}

.actulizarSemillas{
    font-weight: 500;
    color: #3a3f43;
    text-decoration: inherit;

}
.eliminarSemillas{
    font-weight: 500;
    color: #3a3f43;
    text-decoration: inherit;

}

.crudSemillasAdmin{
    width: 80%;
    position: relative;
    left: 18.5%;
}

/* Asegurar que los videos no se expandan demasiado */
.crud-img img {
    max-width: 150px;
    max-height: 100px;
    border-radius: 9px;
}

/* Ajustes de botones y acciones */
.accionesSemillas {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.accionesSemillas svg {
    font-size: 20px;
    cursor: pointer;
}

/* Responsivo */
@media (max-width: 1000px) {
    .crudSemillasAdmin {
        width: 90%;
        margin-left: 5%;
        font-size: 15px;
    }
    
    .crudSemillasAdmin th,
    .crudSemillasAdmin td {
        font-size: 14px;
        padding: 6px;
    }

    .accionesSemillas svg {
        font-size: 16px;
    }
}