.cardRecetasVendedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.taejetaRecetas{
    display: grid;
    justify-content: center;
    -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
    background: #d9d9d9;
    border-radius: 10px;
    width: 300px;
    margin-right: 100px;
    height: 35vh;
    margin-bottom: 10%;
}
.verMasRecetaVendedor{
    margin-bottom: 20%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nombreReceta{
    font-size: 22px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .tituloRecetasVendedor{
            font-size: 36px;
        }
        .nuevaRecetaAdmin {
            bottom: 63px;
            width: 100px;
            font-size: 12px;
            margin-right: 51px;
        }
        .input-search{
            width: 154px;
        }
        .search-button{
            top: -18px;
            right: -60px;
        }
        .crudVendedorSemillas{
            width: 65%;
            display: block;
        }
        .cardRecetasVendedor{
            grid-template-columns: repeat(1, 1fr);
        }
        .taejetaRecetas{
            width: 120%;
            height: 25vh;
            margin-right: 15%;
        }
        .crud-video video{
            margin-top: 8%;
        } 
}