.InfoVendedor {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef; 
}

.imagen {
    width: 70%;
    max-width: 1000px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    background: white;
    /* padding: 30px; Increased padding for better spacing */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 400px;
}

.input {
    width: 90%;
    max-width: 400px;
    padding: 12px; 
    font-size: 16px; 
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.input:focus {
    border-color: #007bff;
    outline: none;
    background: #fff;
}

.basic-multi-single {
    width: 90%;
    max-width: 400px;
    text-align: left;
}

.return{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
}
.btn {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px; 
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:first-of-type {
    background-color: #007bff;
    color: white;
}

.btn:last-of-type {
    background-color: #28a745;
    color: white;
}