body {
    margin: 0;
    min-width: 0;
    min-height: 0;
}

.UsuariosAdmin {
    width: 100%;
}

.tituloCrudUsuarios {
    border-bottom: 0.5px solid;
    width: 262px;
}

.crudUsuariosAdmin {
    width: 80%;
    position: relative;
    left: 19%;

    display: block;
}

.accionesUsuariosAdmin {
    width: 15%;
}

.buscarUsuariosAdmin {
    background: #D9D9D9;
    border: none;
    width: 22%;
    height: 40px;
    border-radius: 67px;
    position: relative;
    left: 31%;
    bottom: 27px;
}

.actulizarUsuarios{
    font-weight: 500;
    color: #3a3f43;
    text-decoration: inherit;
}
.eliminarUsuarios{
    font-weight: 500;
    color: #3a3f43;
    text-decoration: inherit;
}

/* Estilos para la tabla responsiva */
@media (max-width: 700px) {
    .crudUsuariosAdmin {
        width: 80%;
        left: 8%;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }
    .tituloCrudUsuarios, .accionesUsuariosAdmin {
        min-width: 100px;
    }
    .actulizarUsuarios, .eliminarUsuarios{
        font-size: 20px;
    }
}
